web/source/index.pug
extends ../layouts/base.pug

block body
  header(class='header header-section')
    div(class='container')
      h1(class='intro') 
        | Hello! I'm 
        span(class='name') Eric
        | . 👋🏼
      h5
        | I'm a Front-end Developer and UI Designer specialized in the web and mobile apps.
  main(class='about about-section')
    div(class='container')
      p(class='message')
        | Currently working as a UI Designer at 
        a(href='http://www.agentbox.com.au', target='_blank') Agentbox
        | , I'm working with their Web and Mobile Apps. I have over 4 years of experience designing & developing websites, newsletters, landing page also a mobile application.
      p(class='message')
        | When I’m not designing, I spend my time on listening and watching to live indie bands and volunteering in 
        a(href='https://devcon.ph', target='_blank') DevCon
        | . Learning backend stuff like Ruby on Rails.
      p(class='message')
        | If you have an exciting project or have a question or want to say hello to just reach me out at 
        a(href='mailto:hello@ericsonluciano.com', target='_blank') hello@ericsonluciano.com
        | . and here my 
        a(href='files/ericsonluciano_cv.pdf', target='_blank') Curriculum Vitae 
        |  Also, let's connect on  
        a(href='https://www.twitter.com/ericsonluciano', target='_blank') Twitter
        | , 
        a(href='https://www.dribbble.com/ericsonluciano', target='_blank') Dribbble
        | , 
        a(href='https://www.instagram.com/ericsonluciano', target='_blank') Instagram
        |  and 
        a(href='https://www.linkedin.com/in/ericsonluciano', target='_blank') Linkedin
        | . This is my temporary site at this moment. ✌🏼
        

public/index.html
<!DOCTYPE html><html><head><meta charset="utf-8"><title>Ericson Luciano – Front-end Developer & UI Designer</title><link rel="shortcut icon" type="image/png" href="favicon.png"><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><meta name="viewport" content="width=device-width"><link rel="stylesheet" href="main.css"><meta content="A Front-end Developer and UI Designer specialized in the web and mobile apps." name="description"><meta content="A Front-end Developer and UI Designer specialized in the web and mobile apps." property="og:description"><meta content="images/cover.jpg" property="og:image"><meta content="Ericson Luciano – Front-end Developer &amp; UI Designer" property="og:title"><meta content="Ericson Luciano – Front-end Developer &amp; UI Designer" property="og:site_name"><meta content="EricsonLuciano" property="fb:admins"><meta content="website" property="og:type"><!--[if lt IE 9]><script src="https://cdn.jsdelivr.net/nwmatcher/1.2.5/nwmatcher.min.js"></script><script src="https://cdn.jsdelivr.net/json2/0.2/json2.min.js"></script><script src="https://cdn.rawgit.com/gisu/selectivizr/1.0.3/selectivizr.js"></script><script src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script><script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script><script src="https://cdn.jsdelivr.net/es5.shim/4.4.1/es5-shim.min.js"></script><![endif]--></head><body><header class="header header-section"><div class="container"><h1 class="intro"> Hello! I'm <span class="name">Eric</span>. 👋🏼</h1><h5>I'm a Front-end Developer and UI Designer specialized in the web and mobile apps.</h5></div></header><main class="about about-section"><div class="container"><p class="message">Currently working as a UI Designer at <a href="http://www.agentbox.com.au" target="_blank">Agentbox</a>, I'm working with their Web and Mobile Apps. I have over 4 years of experience designing & developing websites, newsletters, landing page also a mobile application.</p><p class="message">When I’m not designing, I spend my time on listening and watching to live indie bands and volunteering in <a href="https://devcon.ph" target="_blank">DevCon</a>. Learning backend stuff like Ruby on Rails.</p><p class="message">If you have an exciting project or have a question or want to say hello to just reach me out at <a href="mailto:hello@ericsonluciano.com" target="_blank">hello@ericsonluciano.com</a>. and here my <a href="files/ericsonluciano_cv.pdf" target="_blank">Curriculum Vitae </a> Also, let's connect on  <a href="https://www.twitter.com/ericsonluciano" target="_blank">Twitter</a>, <a href="https://www.dribbble.com/ericsonluciano" target="_blank">Dribbble</a>, <a href="https://www.instagram.com/ericsonluciano" target="_blank">Instagram</a> and <a href="https://www.linkedin.com/in/ericsonluciano" target="_blank">Linkedin</a>. This is my temporary site at this moment. ✌🏼</p></div></main><script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script><script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script><script src="scripts.js"></script><script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-91814758-1"></script><script>window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments)};
gtag('js', new Date());
gtag('config', 'UA-91814758-1');</script></body></html>
